node_modules
npm-debug.log
yarn.lock
yarn-error.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.cache
target
*.log
.DS_Store
.vscode
.idea
*.md
examples
__test__
bench
scraped-data
scraped-html
storage
*.tgz
*.node